body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    margin: 1em 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    position: relative;
}

/* premier niveau */

nav > ul {
    display: table;
    margin: auto;
}

nav > ul > li {
    display: table-cell;
}

nav > ul ul {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
}

nav > ul ul a {
    background: #239855;
}

nav li:hover ul {
    display: block;
}

/* liens */

nav a {
    display: block;
    padding: .5em 1em;
    background-color: #2ECC71;
    color: #fff;
    text-decoration: none;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    width: 5em;
    text-align: center;
}

nav a:hover,
nav a:focus {
    background-color: #34495E;
}